---
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import { getCategoryList } from "../../utils/content-utils";
import ButtonLink from "../control/ButtonLink.astro";
import WidgetLayout from "./WidgetLayout.astro";

const COLLAPSED_HEIGHT = "7.5rem";
const COLLAPSE_THRESHOLD = 5;

interface Props {
	class?: string;
	id?: string;
	style?: string;
	privateContext?: boolean;
}
const className = Astro.props.class;
const id = Astro.props.id ?? "categories";
const style = Astro.props.style;
const { privateContext = false } = Astro.props;
const categories = await getCategoryList(privateContext);
const isCollapsed = categories.length >= COLLAPSE_THRESHOLD;
---

<WidgetLayout name={i18n(I18nKey.categories)} id={id} isCollapsed={isCollapsed} collapsedHeight={COLLAPSED_HEIGHT}
                class={className} style={style}
>
    <div class="flex flex-col gap-2">
        {categories.map((c) =>
            <ButtonLink
                url={c.url}
                badge={String(c.count)}
                label={`View all posts in the ${c.name.trim()} category`}
                data-archive-filter={c.url.includes("uncategorized=true") ? "uncategorized" : "category"}
                data-archive-value={c.url.includes("uncategorized=true") ? "true" : c.name}
                data-no-swup
            >
                {c.name.trim()}
            </ButtonLink>
        )}
    </div>
</WidgetLayout>
